

.brand img {
  margin-top: 1em;
  padding-left: 130px;
  height: 50px;
 /* position: fixed;*/
}

.brand {
 display: grid;
 position: fixed;
}

.contact {
	display: grid;
	margin-left: 50px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.contact img {
	height: 40px;
	width: 40px;
	
}

.contact img:hover {
	fill: #5BEFB4;
}

/*.meldform {
	display: grid;
	grid-column: 6/7;
	grid-row: 13/14;
	padding-right: 50px;
}*/

.buttonmail {
  display: inline-block;
  border-radius: 20px;
  background-color: #5BEFB4;
  border: none;
  color: black;
  text-align: center;
  font-size: 16px;
  height: 60px;
  padding: 12px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonmail span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonmail span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonmail:hover span {
  padding-right: 20px;
}

.buttonmail:hover span:after {
  opacity: 1;
  right: 0;
}