body {
	/*background: #eef7ef;*/
/*	background: #465C69;*/
	font-family: roboto mono, open sans, helvetica;
	/*color: white;*/
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
	margin: 0 auto;
}

.brand {
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
}

a {
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover {
  color: #FF2B95;
}

nav {
	display: grid;
	grid-row: 1/1;
	grid-column: 3/6;
	float: right;


	text-align: left;
	left: 0;
	width: 100%;
}

nav ul {
	margin: 10px;
	padding: 0;
	display: ;
	display: flex;
	position: absolute;
	right: 10px;
}

nav ul li {
	list-style: none;
}
 
nav ul li a {
	display: block;
	margin: 5px 0;
	padding: 10px 10px;
	text-decoration: none;
	color: #465C69;
}

nav ul li a.active, 
nav ul li a:hover {
	/*color: #426A5A;*/
	transition: 0.5s;
	font-weight: 800;
	color: #FF2B95;
}

.triangel {
	display: grid;
	grid-column: 1/7;
	grid-row: 1/7;
	position: block;
	max-width: auto;
	background: #5BEFB4;
	z-index: -1;
	/*width: 600px max-width;*/
/*	height: 300px;*/
	clip-path: polygon(-10px -1px,1060px 550px,2559px -1px);
}


.attext {
	display: grid;
	grid-column: 3/4;
	grid-row: 1/2;
	padding-left: 50px;
	padding-top: 100px;
}

.attext p {
	margin: 5px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 80px;
	font-weight: bold;
}

.attext p:hover {
	/*color: #993955;*/
	color: #FF2B95;
}

.colored {
	display: grid;
}

.spacex {
	display: grid;
	grid-column: 1/7;
	grid-row: 2/3;
	/*background: #5b9279;*/
	padding: 2em;
	background: #ffffff;
}

.cheesy {
	display: grid;
	grid-column: 1/7;
	grid-row: 3/4;
	/*background: #5b9279;*/
	padding: 1em;
	border-radius: 10px;
}

h1 {
	display: grid;
	grid-column: 1/5;
	color: #5BEFB4;
	size: 18px;
}

.aleft {
	display: grid;
	grid-column: 1/4;
	padding: 20px;
}

.aright {
	display: grid;
	grid-column: 4/7;
	padding: 20px;
}
.about img {
	height: 300px;
	width: 300px;
	border-radius: 10px;
}

.wbar {
	display: grid;
	grid-column: 1/7;
	grid-row: 4/4;
	/*background: #FF2B95;*/
	color: white;
	padding-left: .5em;
}

/*.work {
	display: grid;
	grid-column: 1/6;
	grid-row: 9/11;
}*/

.row {
	border-radius: 10px;
	padding: .5em;
	border-style: inset;
}

.een {
	display: grid;
	grid-column: 2/4;
	grid-row: 5/6;
	border-color: #FF2B95;
}

.twee {
	display: grid;
	grid-column: 4/6;
	grid-row: 6/7;
	border-color: #FFE500;
}

.drie {
	display: grid;
	grid-column: 2/4;
	grid-row: 7/8;
	border-color: #FF2B95;
}

.vier {
	display: grid;
	grid-column: 4/6;
	grid-row: 7/8;
	border-color: #FFE500;
}

/*Spacing for the contact form*/
.colorspace {
	display: grid;
	grid-column: 1/7;
	grid-row: 8/9;
	height: 10px;
	background: #5BEFB4;
	margin-top: 20px;
	margin-bottom: 20px;

}

.contact {
	display: grid;
	grid-column: 1/5;
	grid-row: 9/9;
	margin-left: 50px;
	padding: 30px;
	display: flex;
	justify-content: space-between;
}

.meldform {
	display: grid;
	grid-column: 6/7;
	grid-row: 9/9;
	padding-right: 50px;
}